.Watchlist {
}

.WatchlistNavbar {
    width: 100vw;
    height: 3rem;

    background: #1b1b1b;
}

.WatchlistNavbarContainer {
    max-width: 900px;
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0 1rem;
    margin: auto;
}

.WatchlistNavbar-link {
    color: #f0f0f0;

    font-size: 1.25rem;

    text-decoration: none;
}
