.AccountOptions {
    margin-left: auto;

    list-style: none;
}

.AccountOptions-item a {
    background: transparent;
    color: #e3e3e3;

    font-size: 0.9rem;

    text-decoration: none;

    border: none;

    cursor: pointer;
}

.AccountOptions-item a:hover {
    color: #f4f4f4;
}
