.navbar {
    background: var(--color-surface);

    border-bottom: 1px solid var(--color-border);

    backdrop-filter: blur(8px);
}

.navbar-container {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links {
    display: flex;

    align-items: center;

    gap: 24px;
}

.navbar-buttons .c-button:first-child  {
    margin-right: 16px;
}
