.Watchlist {
    height: 100vh;

    background: #f4f4f4;
}

.WatchlistHeader {
    width: 100vw;
    height: 3rem;

    background: #790ce6;
}

.WatchlistHeaderContainer {
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0 1rem;
}

.WatchlistHeader-link {
    color: #f0f0f0;

    font-size: 1.25rem;

    text-decoration: none;
}
