.AddItemButton {
    color: #e3e3e3;
    background: #171717;

    padding: 0.5rem 1rem;

    border: none;
    border-radius: 3px;

    font-weight: bold;

    cursor: pointer;
}

.AddItemButton:hover {
    color: #f4f4f4;
}
