.Kanban {
    /* 3rem is the height of the watchlist header. */
    height: calc(100vh - 3rem);

    overflow: auto;
}

.KanbanWrapper {
    height: calc(100% - 3rem);

    overflow: auto;
}

.KanbanContent {
    width: 900px;
    height: 100%;

    display: flex;

    margin: 0 auto;
}
