.Kanban {
    /* 3rem is the height of the watchlist header. */
    height: calc(100vh - 3rem);

    overflow: auto;
}

.KanbanHeader {
    margin-top: 1rem;
}

.KanbanHeader-title {
    color: #790ce6;
    font-size: 1rem;
}

.KanbanHeaderContent {
    max-width: 900px;

    display: flex;
    align-items: center;

    margin: auto;
}

.KanbanContent {
    width: 900px;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0 auto;
}

.KanbanSection {
    flex-basis: 30%;

    height: 90%;

    padding-bottom: 1rem;

    background: #ffffff;

    border: solid 1px #d0d0d0;
    border-radius: 4px;

    box-shadow: 2px 2px 2px #e3e3e3;
}

.KanbanSectionHeader {
    height: 3rem;

    display: flex;
    align-items: center;

    padding: 0 1rem;
}

.KanbanSectionHeader-title {
    color: #790ce6;

    font-size: 1rem;
    text-transform: uppercase;
}

.KanbanList {
    height: calc(100% - 3rem);

    padding: 0 0.5rem;

    border-top: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;

    overflow: auto;
}

.KanbanListItem {
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;

    margin: 0.5rem 0;

    border: solid 1px #d0d0d0;
    border-radius: 4px;

    overflow: hidden;
}

.KanbanListItem-image {
    height: 100%;
}

.KanbanListItem-title {
    width: 100%;

    margin: 0.5rem;

    font-size: 0.8rem;

    text-align: center;
}

.KanbanToolbar {
    margin-left: auto;
}
