.BrowseItem {
    width: calc(360px / 2 - 2rem);
    height: 240px;

    position: relative;

    margin: 0.5rem;

    overflow: hidden;
}

.BrowseItemImage {
    height: 80%;
}

.BrowseItemDetails {
    height: 20%;

    text-align: center;

    padding: 0.25rem;
}

.BrowseItem-title {
    color: #555555;

    font-size: 80%;

    text-decoration: none;
}

.BrowseItem-img {
    width: 100%;
    max-height: 100%;

    display: block;

    border-radius: 4px;
}

.BrowseItem:hover .BrowseItem-title {
    color: #1b1b1b;
}

.BrowseItemOptions {
    display: none;
}

.BrowseItem:hover .BrowseItemOptions {
    display: block;
}
