.Home {
    height: 100vh;
}

.HomeHeader {
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    text-align: center;
}

.HomeHeader-title {
    color: #790ce6;
}

.HomeHeader-details {
    margin-top: 1rem;
}

.UserForm {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 769px) {
    .Home {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background: #f4f4f4;
    }
}
