.BrowseItem {
    width: 80%;

    display: flex;

    margin: 1rem auto;
    padding: 0.5rem;

    border: solid 1px #d0d0d0;
    border-radius: 4px;

    overflow: hidden;
}

.BrowseItem:hover {
    border-color: #a2befa;
}

.BrowseItem-img {
    width: 96px;

    border-radius: 4px;
}

.BrowseItem-details {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;
}

.BrowseItem-title {
    color: #2b6cf8;

    text-align: center;
    font-size: 1rem;

    margin-bottom: 0.5rem;

    text-decoration: none;

    outline: none;
}

.BrowseItem-synopsis {
    flex-grow: 1;

    font-size: 0.8rem;
}
