.Navbar {
    height: 4rem;

    background: #1b1b1b;
}

.NavbarInner {
    height: 100%;
    max-width: 900px;

    display: flex;
    align-items: center;

    margin: auto;
    padding: 0 1rem;
}

.NavbarHeader {
    color: #f4f4f4;

    font-size: 1.25rem;
    text-decoration: none;

    margin-right: 0.5rem;
}

.NavbarNav {
    display: flex;

    list-style: none;
}

.NavbarNav-item {
    margin: 0 0.5rem;
}
